button {
    border-radius: 4px;
    border: 0;
    padding: 0.6vw 1.6vw 0.6vw 1.2vw;
    margin: 0 1vw 1vw 0;
    position: relative;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.color-primary {
    background-color: white;
    color: black;
}

.color-secondary {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

button > svg {
    margin-right: 0.6rem;
    height: 2vw;
}