header {
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 14px;
}

header > img.logo {
    height: 50px;
    width: 112px;
    margin: 10px;
    flex: 0;
}