.search {
    position: relative;
    width: 210px;
    flex: 0;
    display: flex;
    align-items: center;
    height: 50px;
}

.search > input {
    width: 200px;
    height: 2rem;
    border: 1px solid white;
    color: white;
    background-color: black;
    padding-left: 36px;
}

.search > span.filler {
    width: 30px;
}

.search > img {
    position: absolute;
    left: 6px;
    width: 24px;
}

.search > img:hover {
    cursor: pointer;
}