.hero-container {
    background: linear-gradient(180deg,rgba(0,0,0,.6),transparent 85%);
    position: absolute;
    width: 100%;
    height: 56.25vw;
    top: 70px;
}

img.hero {
    background-position: 50%;
    background-size: cover;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

.vignette {
    background: linear-gradient(77deg,rgba(0,0,0,.6),transparent 85%);
    height: 100%;
    position: relative;
    width: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4%;
}

.vignette > img {
    width: 100%;
}

.vignette > p {
    color: #fff;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: normal;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
}