.carousel {
    box-sizing: border-box;
    margin: 3vw 0;
    padding: 0 4%;
    outline: 0;
    position: relative;
    transition: transform .54s cubic-bezier(.5,0,.1,1) 0s;
}

.carousel > h2 {
    line-height: 2;
    margin: 0;
    font-weight: bold;
    font-size: 1.4vw;
}

.carousel > .row {
    display: flex;
    flex-wrap: nowrap;
    height: 13vw;
}

.carousel-item {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 0.2vw;
    position: relative;
    vertical-align: top;
    white-space: normal;
    z-index: 1;
    width: 25%;
    flex-shrink: 0;
    transition: margin 0.7s;
}